@import '../../styles/utils';

.back {
  @include flex-box();
  position: absolute;
  top: 0;
  opacity: 0.03;
  font-size: 1.1em;
  font-weight: 500;
  fill: white;
  filter: blur(3px);
  user-select: none;

  & svg {
    width: 90vw;
    flex-grow: 1;
    line-height: 0;
  }

  text {
    font-family: Eoe_Zno_EB;
    font-weight: 800;
  }

  z-index: z-index('background') !important;
}
