@import '~open-color/open-color';
@import './animations';

$full: 100 * 1%;
$z-index: (
  background: 9,
  contents: 10,
  modal: 11,
  floatting: 12,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin flex-box(
  $width: 100%,
  $height: 100%,
  $flex-direction: column,
  $align-items: center,
  $justify-content: center
) {
  display: flex;
  width: $width;
  height: $height;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin view-size-medium {
  @media (max-height: 570px), (max-width: 1120px) {
    @content;
  }
}
@mixin view-size-small {
  @media (max-height: 430px), (max-width: 870px) {
    @content;
  }
}
