@import '../../styles/utils';

.box {
  @include flex-box();
  font-weight: 700;
  font-size: 3.3em;
}

.neon {
  @include neon();
  font-weight: 500;

  font-size: 0.5em;

  animation-delay: 2s;
}

.big {
  font-size: 0.9em;
}

.left {
  justify-content: flex-end;
  align-items: flex-end;
}
.right {
  justify-content: flex-end;
  align-items: flex-start;
}

.blur {
  @include clip-mask();
  opacity: 0.1;
  filter: blur(5px);
  position: relative;
  overflow: hidden;
  &::after {
    @include mask();
    animation-delay: 0.5s;
  }

  animation-delay: 0.5s;
}

.top {
  @include flex-box($full, 50%, row);
  flex-grow: 1;
  z-index: z-index('contents');
  user-select: none;
  & > .left {
    padding-bottom: 0.5em;
    padding-right: 0.3em;
    & span {
      margin-top: 0.3em;
    }
  }
  & > .right {
    padding-left: 0.3em;
  }
}

.bottom {
  @include flex-box(50vw, 50%, column, flex-start, flex-start);
  z-index: z-index('contents');
  user-select: none;
  flex-grow: 1;

  & span {
    margin-top: 0.2em;
    white-space: nowrap;
  }

  @include media('>=huge') {
    width: 25vw;
  }

  @include media('<large') {
    width: 55vw;
  }

  @include media('<medium') {
    width: 60vw;
  }
}
